X_BEARER_TOKEN="AAAAAAAAAAAAAAAAAAAAAJcA8gEAAAAAnbgviHPZ%2B%2BmdhP95Ddmrr48frl8%3DFkp5iN8yySyLL1zuxCwdSNVKcoaXybMJ5cZtFiQlXskqPrc3f3"
X_SECRET_KEY ="Mcncp6JmjmBhG2bONWJ80Fa2GzUhBFxM0Z7INlIczc3PeqyfAR"


X_ACCESS_TOKEN="744796424966017025-wlBeegPmVAv4vR19Rs4rTLS9FuCACWS"
X_ACCESS_TOKEN_SECRET="0fOOVniWKAjArCEci1izyIYeCpwkv2NOruVKy4D36d2kv"

TWITTER_CLIENT_ID="REVfcWw2MXMydlBqbVVhTmFJYVQ6MTpjaQ"
TWITTER_CLIENT_SECRET="JpciwNiaGIJt6EWE-bMGEWTbqRTIMKkBHLmuZWKawLwpKGPM9U"